./Pterodactyl.NET/bin
./Pterodactyl.NET/bin/
./Pterodactyl.NET/bin/*

/Pterodactyl.NET/bin
/Pterodactyl.NET/bin/
/Pterodactyl.NET/bin/*

./Pterodactyl.NET/obj
./Pterodactyl.NET/obj/
./Pterodactyl.NET/obj/*

/Pterodactyl.NET/obj
/Pterodactyl.NET/obj/
/Pterodactyl.NET/obj/*

./Pterodactyl.NET.Test/bin
./Pterodactyl.NET.Test/bin/
./Pterodactyl.NET.Test/bin/*

/Pterodactyl.NET.Test/bin
/Pterodactyl.NET.Test/bin/
/Pterodactyl.NET.Test/bin/*

./Pterodactyl.NET.Test/obj
./Pterodactyl.NET.Test/obj/
./Pterodactyl.NET.Test/obj/*

/Pterodactyl.NET.Test/obj
/Pterodactyl.NET.Test/obj/
/Pterodactyl.NET.Test/obj/*

